{% extends 'main.html' %} {% block content %}
<div class="container-fluid">
  <div class="content">
    <h2 class="title">News</h2>
    <p class="font-weight-bold">SORT BY SITE:</p>
    <div class="d-inline">
      <a href="{% url 'home' %}" class="btn btn-rounded font-weight-semi-bold"
        >View All</a
      >
      {% for s in sites %}
      <a
        href="{% url 'home' %}?q={{s}}"
        class="btn btn-rounded font-weight-semi-bold m-5"
        >{{s}}</a
      >
      {% endfor %}
    </div>
  </div>
  <div class="row row-eq-spacing">
    {% if articles %} {% for a in articles %}
    <div class="w-300 mw-full">
      <div class="card p-0">
        <a href="{{a.link}}" target="_blank"
          ><img
            src="{{a.image}}"
            class="img-fluid rounded-top w-full"
            alt="{{a.alt}}"
        /></a>
        <div class="content">
          <a href="{{a.link}}" target="_blank" class="text-reset"
            ><h2 class="font-size-18 font-weight-semi-bold">{{a.title}}</h2></a
          >
          <h5 class="font-italic">{{a.site}}</h5>
          <h6 class="text-muted">{{a.date}}</h6>
          <div class="text-left">
            <a href="{{a.link}}" class="btn btn-danger btn-lg" target="_blank"
              >Read article</a
            >
          </div>
        </div>
      </div>
    </div>
    {% endfor %} {% else %}
    <div class="content">
      <h4 class="text-center">Error loading articles. Check back later.</h4>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
