{% extends 'main.html' %} {% block content %}

<div class="container-fluid">
  <div>
    {% for a in articles %}
    <div class="w-400 mw-full">
      <!-- w-400 = width: 40rem (400px), mw-full = max-width: 100% -->
      <div class="card p-0">
        <!-- p-0 = padding: 0 -->
        <img src="{{a.image}}" class="img-fluid rounded-top" alt="{{a.alt}}" />
        <!-- rounded-top = rounded corners on the top -->
        <!-- Nested content container inside card -->
        <div class="content">
          <h2 class="content-title">{{a.title}}</h2>
          <h5 class="text-muted">{{a.site}}</h5>
          <p class="text-muted">{{a.date}}</p>
          <div class="text-left">
            <a href="#" class="btn">Read more</a>
          </div>
        </div>
      </div>
    </div>
    <!-- <div>
      <a href="{% url 'article' a.id %}"><h2>{{a.title}}</h2></a>
      <h3>{{a.site}}</h3>
      <span>{{a.date}}</span>
      <img src={{a.image}} alt={{a.alt} /> 
    </div> -->
    {% endfor %}
  </div>
</div>
{% endblock %}
