{% extends 'main.html' %} {% block content %}
<div class="container-fluid">
  <div class="content">
    <h2 class="title">Upcoming Races</h2>
  </div>
  <div class="row">
    {% for r in races %}
    <div class="w-350 mw-full">
      <div class="card text-center p-0">
        <div class="content">
          <img class="img-fluid rounded border" src="{{r.flag}}" />
          <a href="{{r.link}}" target="_blank"><h4>{{r.title}}</h4></a>
          <h5>{{r.country}} | {{r.date}}</h5>
          <img class="img-fluid rounded" src="{{r.track_img}}" />
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
